NODE_ENV=development
PORT=3002

VERIFY_TOKEN=olive_rentals_2026
WHATSAPP_TOKEN=EAAO01iSBHsgBRxGgqZC20R1N7d0KZCft7BYbNVY4tyUoA7fdBDUfZBshjS4jiQZBRndDJ1uhlYTiCG4GFgqFZA7NAMx8iAjjqW6KaJesH3KZBaAa2HToN0ud1gy4i5QEvg14nXhZBPTSTTLZBozZCPn0jkZCAtCYiFcspNsSmVP7BAZC6VEF157rtlxc17uyZB59B8Nk95gZBIbpVbaLarFmdZCZBuQWIlVIWBs3PBRO9LOAhvno1F2X333Sidur3lJgz8iivYtxFI0iHpTD1wTCAFBLMxP5BtdowZDZD
PHONE_NUMBER_ID=1306799025842114
WHATSAPP_BUSINESS_ACCOUNT_ID=1291606569713854
GRAPH_API_VERSION=v25.0

DEFAULT_ORGANIZATION_ID=org-daniel-rentals
DEFAULT_BUSINESS_UNIT_ID=business-unit-main
PRODUCT_ID=olive-rentals

PROCESSED_MESSAGE_TTL_MINUTES=60
SESSION_TTL_MINUTES=30
